*.a
*.axf
*.elf
*.hex
*.o
*.objdump
*.s
*.so
*.vcd
*~
.DS_Store
._*
.bzr
.bzrignore
.make.options*
.tags*
TAGS
__pycache__
callgrind.out.*
doc/doxygen/output
doc/doxygen/output
doc/sphinx/build
doc/sphinx/build
obj-*
parser.out
parsetab.py
perf.data
simavr/run_avr
simavr/simavr
